<ion-tabs class="fixed bottom-0 left-0 right-0" color="success">
  <ion-tab-bar slot="bottom" >
    <ion-tab-button (click)="home()">
      <ion-icon name="home" aria-hidden="true"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="bookings()">
      <ion-icon name="scale-sharp"></ion-icon>
      <ion-label>Orders</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="profile()">
      <ion-icon name="person-sharp"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>