<div class="ion-page" id="main-content">
  <app-header title="Manage Address"></app-header>
  <ion-content class="ion-padding">
    <div class="Lato600 fs-17 mb-2">Rate Our Service</div>
    <div class="borderGrey p-2">
      <div class="Lato600 fs-14 mb-2">Question 1</div>
      <div class="Lato500 fs-14">Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis corrupti aperiam,
        doloribus dignissimos omnis fuga obcaecati non nam sint necessitatibus!</div>
      <div class="d-flex align-items-center justify-content-between">
        <div class="Lato500 fs-16 p-3 bg-lightGreen">1</div>
        <div class="Lato500 fs-16 p-3 bg-lightGreen">1</div>
        <div class="Lato500 fs-16 p-3 bg-lightGreen">1</div>
        <div class="Lato500 fs-16 p-3 bg-lightGreen">1</div>
        <div class="Lato500 fs-16 p-3 bg-lightGreen">1</div>
      </div>
      <div class="d-flex justify-content-between align-items-center mt-2">
        <div class="Lato500 fs-14 t-green">Very Bad</div>
        <div class="Lato500 fs-14 t-green">Very Good</div>
      </div>
    </div>
    
  </ion-content>
</div>