<ion-content>
  <ion-grid class="container">
    <!-- <app-text-header text="Forgot Password"></app-text-header> -->

    <div class="top-header">
      <div class="btn" routerLink="/login">
        <ion-button color="primary-contrast">
          <span><ion-icon name="chevron-back-outline"></ion-icon></span>
        </ion-button>
      </div>

    <div class="data">
      <p>Forgot Password</p>

    </div>
    </div>

    <ion-row>

      <ion-text class="textheader">

        Enter your email for the verification process.
        We will send 4 digits code to your email.
      </ion-text>
    </ion-row>
    <ion-row class="cont1">
      <ion-col>
        <ion-text class="title">Email</ion-text>

        <ion-input placeholder="Enter your Email"></ion-input>
        <div class="ion-text-center" routerLink="/forgotPassword">
          <ion-text class="forgot">

            Don't receive code?
          </ion-text>

          <ion-text color="secondary">Resend OTP</ion-text>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button class="ion-margin" color="secondary" expand="block" type="submit" routerLink="/otpVerify">

          Continue
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>