<ion-content>
  <ion-grid class="container">
<!-- <app-text-header text="Enter 4 Digit Code"></app-text-header> -->
<div class="top-header">
  <div class="btn" routerLink="/forgotPassword">
    <ion-button color="primary-contrast">
      <span><ion-icon name="chevron-back-outline"></ion-icon></span>
    </ion-button>
  </div>

<div class="data">
  <p>Verify Phone</p>

</div>
</div>
<ion-row>
  
  <ion-text class="textheader" >
    
    Code is send to XXXXXX5487
  </ion-text>
</ion-row>
<div class="ip">
  <input type="number" maxlength="1">
  <input type="number" maxlength="1">
  <input type="number" maxlength="1">
  <input type="number" maxlength="1">

</div>
<div class="code">
  <p>Don't receive the Code?</p> &nbsp;
  <p style="color: #579540;"> Resend OTP</p>
</div>

<ion-button class="ion-margin" color="secondary" expand="block" type="submit" routerLink="/otpVerify">

  Continue
</ion-button>
    </ion-grid>
    </ion-content>
 