<div class="ion-page" id="main-content">
  <app-header title="Settings"></app-header>

<ion-content>
  <div class="px-3 fs-18 t-green my-4 Lato500">Account</div>
  <div class="borderGrey BR10 mb-2 d-flex align-items-center justify-content-between  p-2 mx-3 py-2" routerLink="/profile">
    <div class="d-flex align-items-center">
      <div><ion-icon name="person-outline"></ion-icon></div>
      <div class="ms-3 Lato500 fs-14">Edit Profile</div>
    </div>
    <div><ion-icon name="chevron-forward-outline"></ion-icon></div>
  </div>
  <div class="borderGrey BR10 mb-2 d-flex align-items-center justify-content-between  p-2 mx-3 py-2" routerLink="/forgotPassword">
    <div class="d-flex align-items-center">
      <div><ion-icon name="lock-closed-outline"></ion-icon></div>
      <div class="ms-3 Lato500 fs-14">Change Password</div>
    </div>
    <div><ion-icon name="chevron-forward-outline"></ion-icon></div>
  </div>
  <div class="borderGrey BR10 mb-2 d-flex align-items-center justify-content-between  p-2 mx-3 py-2" routerLink="/forgotPassword">
    <div class="d-flex align-items-center">
      <div><ion-icon name="language-outline"></ion-icon></div>
      <div class="ms-3 Lato500 fs-14">Select Language</div>
    </div>
    <div><ion-icon name="chevron-forward-outline"></ion-icon></div>
  </div>
  <div class="borderGrey BR10 mb-2 d-flex align-items-center justify-content-between  p-2 mx-3 py-2" (click)="canDisMiss()">
    <div class="d-flex align-items-center">
      <div><ion-icon name="folder-outline"></ion-icon></div>
      <div class="ms-3 Lato500 fs-14">Clear User Data</div>
    </div>
    <div><ion-icon name="chevron-forward-outline"></ion-icon></div>
  </div>
  <div class="px-3 fs-18 t-green my-4 Lato500 fs-14">Contact</div>
  <div class="borderGrey BR10 mb-2 d-flex align-items-center justify-content-between  p-2 mx-3 py-2">
    <div class="d-flex align-items-center">
      <div><ion-icon name="call-outline"></ion-icon></div>
      <div class="ms-3 Lato500 fs-14">Call Us</div>
    </div>
    <div><ion-icon name="chevron-forward-outline"></ion-icon></div>
  </div>
  <div class="borderGrey BR10 mb-2 d-flex align-items-center justify-content-between  p-2 mx-3 py-2" routerLink="/contact-us">
    <div class="d-flex align-items-center">
      <div><ion-icon name="navigate-outline"></ion-icon></div>
      <div class="ms-3 Lato500 fs-14">Contact Us</div>
    </div>
    <div><ion-icon name="chevron-forward-outline"></ion-icon></div>
  </div>
  <div class="borderGrey BR10 mb-2 d-flex align-items-center justify-content-between  p-2 mx-3 py-2" routerLink="/invite">
    <div class="d-flex align-items-center">
      <div><ion-icon name="share-social-outline"></ion-icon></div>
      <div class="ms-3 Lato500 fs-14">Share</div>
    </div>
    <div><ion-icon name="chevron-forward-outline"></ion-icon></div>
  </div>
  <div class="borderGrey BR10 mb-2 d-flex align-items-center justify-content-between  p-2 mx-3 py-2" routerLink="/terms-condition">
    <div class="d-flex align-items-center">
      <div><ion-icon name="document-outline"></ion-icon></div>
      <div class="ms-3 Lato500 fs-14">Terms & Condition</div>
    </div>
    <div><ion-icon name="chevron-forward-outline"></ion-icon></div>
  </div>
</ion-content>
</div>